
nav a{
    text-transform: uppercase;
    color: rgb(0, 245, 149);
    background-color: #34eea7;
}

.texto-principal {
    margin-right: 20%;
}body {
    background-color:#d3d3d31f;
}

nav li {
    display: inline;
}


h1 {
    color: #2ecdd3;
    text-align: center;
}
h2 {
    color: rgb(50, 234, 142);
}
p {
    color: rgba(180, 84, 189, 0.863);

}
#imagem-principal {
    width: 20%;
    margin-left: 80%;
    border: 5px dotted rgb(216, 123, 113);
    float: left;
    position: absolute;
}

.itens {
    color:  #7d5786;
    text-decoration: underline;
}
.texto-principal {
    margin-right: 30%;
}